---
import Badge from "@astrojs/starlight/components/Badge.astro";
import { Class, Mixin, Singleton } from "wollok-ts";
import { identifier } from "./utils";
import MethodHeading from "./MethodHeading.astro";
import WollokDoc from "./WollokDoc.astro";

interface Props {
  entity: Class | Singleton | Mixin;
}

const { entity } = Astro.props;

const methods = entity.methods.filter((method) => !method.isSynthetic);
---

<h3 id={identifier(entity)} class="entity-title">
  <Badge variant="success" text={entity.kind} />{entity.name}
</h3>

<WollokDoc node={entity} />

{
  entity.fields.length > 0 && (
    <div>
      <h4>Estado</h4>

      <table style="width:100%">
        <tr>
          <th>Atributo</th>
          <th style="width:60%">WollokDoc</th>
        </tr>
        {entity.fields.map((field) => (
          <tr>
            <td>
              {field.isConstant && <Badge variant="note" text="const" />}
              {field.isProperty && <Badge variant="caution" text="property" />}
              <strong>{field.name}</strong>
            </td>
            <td id={identifier(field)}>
              <WollokDoc node={field} />
            </td>
          </tr>
        ))}
      </table>
    </div>
  )
}

{
  methods.length > 0 && 
  <div>
    <h4>Comportamiento</h4>
  {
    methods.map((method) => (
    <div>
      <MethodHeading method={method} />
      <WollokDoc node={method} />
    </div>
    ))
  }
  </div>
}



<style>
  .entity-title {
    text-decoration: underline;
  }
</style>